

.profile-picture {
  width: 150px;
  height: 150px;
}

.card-body {
  background-color: #2d333c;
  border-radius: 10px;
  padding: 2rem;
}

h2 {
  font-weight: bold;
  margin-bottom: 1rem;
}

p {
  margin: 0.5rem 0;
  font-size: 1rem;
  color: #6c757d;
}

.text-justify {
  text-align: justify;
}

.bio-heading {
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 2rem;
}

.card {
  border: none;
}
